:root {
    --snake-head: #5ad154;
    --snake: #138b0c;
    --food: rgb(236, 248, 14);
}

body {
    margin: 0;
    padding: 0;
}

main {
    width: 100%;
    height: 100vh;
    background-color: rgb(252, 255, 180);
    display: grid;
    grid-template-columns: repeat(21, 1fr);
    grid-template-rows: repeat(13, 1fr);
}

.snake {
    background-color: var(--snake);
}

.snake-body {
    background-image: linear-gradient(-45deg, #000000 25%, transparent 25%, transparent 50%, #000000 50%, #000000 75%, transparent 75%, transparent);
  background-size: 20px 20px;
}

.snake-head {
    background-color: var(--snake-head);
}

.food {
    background-image: url('./food.webp');
    background-size: contain;
    background-repeat: no-repeat;
}

.wall {
    background-color: rgb(118, 46, 46);
}

.perdiste {
    display: flex;
    visibility: hidden;
    background-color: #c6163f5a;
    height: 100vh;
    width: 100vw;
    z-index: 99999999;
    position: absolute;
    top: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mensaje {
    color: aliceblue;
    font-size: 6rem;
}

.puntaje {
    color: aliceblue;
    font-size: 4rem;
}